@import '~bootstrap/scss/bootstrap';

.navbar {
    &-brand {
        font-size: 20px;
        font-weight: bold;
    }
    &-collapse {
        justify-content: end;
        font-size: 14px;
        .me-auto {
            margin-right: 6vw !important;
            a {
                line-height: 3;
                color: #393939;
                text-decoration: none;
                &:hover {
                    color: #393939;
                }
                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 2px;
                    width: 0px;
                    background: transparent;
                    transition: width 0.3s ease, background-color 0.5s ease;
                }
                &:hover:after {
                    width: 100%;
                    background: #ff6e51;
                }
            }
        }
        .link-icons {
            a {
                margin: 0 5px;
            }
        }
    }
}
