@import '~bootstrap/scss/bootstrap';
html,
body {
    padding: 0 !important;
    margin: 0 !important;
    color: #393939 !important;
}

.btn {
    background-color: #545268 !important;
    border-color: #545268 !important;
    border-radius: 0 !important;
    width: 170px;
    height: 50px;
}

.card {
    flex-direction: row-reverse !important;
    max-width: 425px !important;
    min-width: 400px !important;
    padding: 1rem;
    box-shadow: 4px 4px 11px lightgrey;
    margin: 1rem 0.5rem;
    align-items: center;
    border: none;
    &-img {
        width: 150px !important;
        height: fit-content;
    }
    &-text {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }
}

.navbar {
    &-brand {
        font-size: 20px;
        font-weight: bold;
    }
    &-collapse {
        justify-content: end;
        font-size: 14px;
        .me-auto {
            margin-right: 6vw !important;
            a {
                margin: 0 0.7rem;
                line-height: 3;
                color: #393939;
                text-decoration: none;
                &:hover {
                    color: #393939;
                }
                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 2px;
                    width: 0px;
                    background: transparent;
                    transition: width 0.3s ease, background-color 0.5s ease;
                }
                &:hover:after {
                    width: 100%;
                    background: #ff6e51;
                }
            }
        }
        .link-icons {
            a {
                margin: 0 5px;
            }
        }
    }
}

.hero {
    &-col1 {
        &-image {
            width: 100%;
        }
    }
    &-col2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 3rem;
        div {
            margin: 1rem 0;
        }
        &-type {
            font-size: 70px;
            color: #393939;
        }
        &-title {
            font-size: 80px;
            color: #ff6e51;
        }
        &-info {
            display: flex;
            justify-content: space-between;
            h6 {
                color: #ff6e51;
            }
        }
    }
}

.partners {
    padding-top: 7rem;
    padding-bottom: 9rem;
    .col {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
}

.selling-points {
    &-title {
        margin-bottom: 4rem;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            text-align: center;
            font-weight: normal;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10% 0;
        }
    }
    &-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &-btn {
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

.product {
    margin: 2rem 0 !important;
    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 70%;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        &-brand {
            p {
                color: #ff6e51;
            }
        }
        &-name {
            h3 {
                font-size: 40px;
            }
        }
        &-description {
            p {
                margin: 1rem 0 2rem !important;
            }
        }
    }
}

.popular {
    margin-top: 7rem !important;
    &-paging {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &-link {
            margin: 0 1rem;
        }
        &-link:hover {
            cursor: pointer;
        }
    }
    &-products {
        padding-top: 2rem;
        flex-wrap: nowrap !important;
        overflow: hidden;

        &-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            transition: all 0.7s ease-in-out;
        }
    }
}

.metrics {
    margin-top: 7rem !important;
    background-color: #fafafa;
    &-col {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
        flex-wrap: wrap;
        div {
            margin: 0 1rem;
            h2 {
                font-size: 60px;
            }
        }

        img {
            box-shadow: 4px 4px 11px lightgrey;
        }
    }
}

.testimonial {
    margin-top: 7rem !important;

    &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem !important;
        h1 {
            font-weight: bold;
        }
    }
    &-body {
        flex-wrap: nowrap !important;
        overflow: hidden;
        justify-content: center;
    }
    &-btn {
        .col {
            display: flex;
            flex-direction: row;
            justify-content: center;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                font-weight: bold;
                width: auto;
                padding-bottom: 12px;
                margin: 0 1rem;
                border-radius: 50% !important;
                background-color: transparent !important;
                color: #545268;
                border: none;
                &:hover {
                    cursor: pointer;
                    background-color: #545268 !important;
                    color: white;
                    box-shadow: 4px 4px 11px lightgrey;
                }
                &:focus {
                    border: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }
    &-card {
        display: flex;
        flex-direction: column;
        width: 35vw !important;
        padding: 1rem 5rem !important;
        transition: all 0.7s ease-in-out;
        &-head {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            margin-bottom: 1rem;
            &-quote {
                font-size: 65px;
                color: #f0f0f0;
                width: 33% !important;
            }
            &-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 33% !important;
                > div {
                    img {
                        border-radius: 50%;
                    }
                }
            }
            &-rating {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0.7rem 0;
                color: #ff6e51;
            }
        }
        &-body {
            text-align: center;
        }
    }
}

.footer {
    margin-top: 5rem !important;
    background-color: #fafafa;
    padding: 4rem;
    .col {
        .row {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &-socials {
        &-title {
            font-size: 20px;
            font-weight: bold;
        }
        &-description {
            padding-left: 0 !important;
        }
        &-icons {
            .col {
                margin: 0 1rem;
            }
            svg {
                font-size: 1.5rem;
                margin: 1rem 1rem 1rem 0;
            }
        }
    }
    &-links {
        .row {
            padding-left: 5px;
        }
        &-title {
            font-weight: bold;
        }
    }
    &-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 3rem;
        color: #b1b1b1;
    }
}

@media (max-width: 600px) {
    .hero {
        &-col2 {
            &-type {
                font-size: 46px;
            }
            &-title {
                font-size: 60px;
            }
        }
    }
}
