@import '~bootstrap/scss/bootstrap';
html,
body {
    padding: 0 !important;
    margin: 0 !important;
    color: #393939 !important;
}

.btn {
    background-color: #545268 !important;
    border-color: #545268 !important;
    border-radius: 0 !important;
    width: 170px;
    height: 50px;
}
.navbar {
    &-brand {
        font-size: 20px;
        font-weight: bold;
    }
    &-collapse {
        justify-content: end;
        font-size: 14px;
        .me-auto {
            margin-right: 6vw !important;
            a {
                line-height: 3;
                color: #393939;
                text-decoration: none;
                &:hover {
                    color: #393939;
                }
                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 2px;
                    width: 0px;
                    background: transparent;
                    transition: width 0.3s ease, background-color 0.5s ease;
                }
                &:hover:after {
                    width: 100%;
                    background: #ff6e51;
                }
            }
        }
        .link-icons {
            a {
                margin: 0 5px;
            }
        }
    }
}

.hero {
    &-col1 {
        &-image {
            width: 100%;
        }
    }
    &-col2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-type {
            font-size: 70px;
            color: #393939;
        }
        &-title {
            font-size: 80px;
            color: #ff6e51;
        }
        &-info {
            display: flex;
            justify-content: space-between;
        }
    }
}

.partners {
    padding-top: 7rem;
    padding-bottom: 9rem;
}

.selling-points {
    &-title {
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            text-align: center;
            font-weight: normal;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10% 0;
        }
    }
}

.product {
    margin: 2rem 0 !important;
    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 70%;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        &-brand {
            p {
                color: #ff6e51;
            }
        }
        &-name {
            h3 {
                font-size: 40px;
            }
        }
        &-description {
            p {
                margin: 1rem 0 2rem !important;
            }
        }
    }
}

.popular {
    &-card {
        &-product {
        }
    }
}

.footer {
    &-socials {
        &-title {
            font-size: 20px;
            font-weight: bold;
        }
        &-description {
            padding-left: 0 !important;
        }
        &-icons {
            > div {
                padding-left: 0;
            }
            svg {
                font-size: 1.5rem;
                margin: 1rem 1rem 1rem 0;
            }
        }
    }
    &-links {
        &-title {
            font-weight: bold;
        }
    }
}
